.main{
    padding: 30px;
}

#skill-tag{
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 15.62px;
}

.test{
    width: 657px;
    height: 49px;
}
.statistics{
    width: 657px;
    height: 98px;
}
.graph{
    width: 657px;
    height: 465px;
}

.statistics h3,
.graph h3{
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.group-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height:47px;
    background-color: #EBF0F5C0;
    border-radius: 28px;
    border: 3px solid #EBF0F5;
}
.group-icon img{
    width: 21.67px;
}

#btn-update{
    width: 120px;
    height: 44px;
    padding: 4px;
    gap: 8px;
    background-color: #142683;
    border:none;
    border-radius: 5px;
    color:white;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
}
#btn-update:hover{
    background-color: #142683d0;
}

.test h4{
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 20.83px;
    color: #222F3E;
}
.test p{
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 21.6px;
}

.test-about{
    width: 376px;
    height: 50px;
}
.test-about div{
    width: 320px;
}

.stat-group{
    width: 135px;
    height: 50px;
}
.stat-group h2{
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 20.83px;
}
.stat-group p{
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 21.6px;
}

.statistics p{
    color: #9EAAB7;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 15.62px;
}

.v-bar{
    width: 1px;
    height: 50px;
    border-radius: 10px;
    border:1px solid #EBF0F5;
    background-color: #EBF0F5;
}

.graph p{
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 432px;
}